<h1>Songs#index</h1>
<%= flash[:notice] %>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Path</th>
    <th>SS</th>
    <th>SSRow</th>
  </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td><%= song.path %></td>
        <td><%= song.ss %></td>
        <td><%= song.ssrow %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>

  <h4>Import songs</h4>
  <%= form_tag import_songs_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import TSV" %>
  <% end %>
  <h4>Add labels</h4>
  <%= form_tag add_labels_songs_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Add TSV" %>
  <% end %>
  <h4>Export songs</h4>
  <%= link_to "Export", songs_path(request_format: "xls") %>
</div>

